/awesome-vue/learn-vue3-doc-20220821/vue-project/node_modules/*
/awesome-ts/ts-axios/*
/awesome-vue/mini-component-library/ajv-demo/node_modules/*
/awesome-vite/smart-ui-vite/node_modules/*
/awesome-vite/smart-ui-vite/dist/*